@font-face {
  font-family: 'Aleo';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/aleo/aleo-italic-400.ttf) format('truetype');
}
@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/aleo/aleo-normal-400.ttf) format('truetype');
}
@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/aleo/aleo-normal-500.ttf) format('truetype');
}
@font-face {
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/aleo/aleo-normal-700.ttf) format('truetype');
}
